@model CasoPractico1_G8.Models.Ruta

<h2>Detalles de la Ruta</h2>
<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Descripción:</strong> @Model.Descripcion</p>
<p><strong>Estado:</strong> @(Model.Estado ? "Activo" : "Inactivo")</p>
<p><strong>Fecha de Registro:</strong> @Model.FechaRegistro</p>

<h3>Paradas</h3>
<ul>
    @foreach (var parada in Model.Paradas)
    {
        <li>@parada.Parada.Nombre</li>
    }
</ul>

<h3>Horarios</h3>
<ul>
    @foreach (var horario in Model.Horarios)
    {
        <li>@horario.Horario.HoraSalida</li>
    }
</ul>