@model IEnumerable<CasoPractico1_G8.Models.Ruta>

@{
    ViewData["Title"] = "Rutas";
}

<h1>Rutas</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Crear Nueva Ruta</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Codigo Ruta</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ruta in Model)
        {
            <tr>
                <td>@ruta.CodigoRuta</td>
                <td>@ruta.Nombre</td>
                <td>@ruta.Descripcion</td>
                <td>@ruta.Estado</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = ruta.Id })" class="btn btn-warning">Editar</a> |
                    <a href="@Url.Action("Delete", new { id = ruta.Id })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
